<!doctype html>
<html>
<head>
    <title>NomNom - New Poll Created</title>
</head>
<body>

<table style="background-color: #f0f9ff">
    <tr>
        <td align="center">
            <table width="100%" style="max-width:600px">
                <tr>
                    <td align="center" valign="top" style="font-size:14px;">
                        <img align="center" style="max-width: 50%; display: block;" src="https://www.hexibox.com/d/nomnom-logo.svg">
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="font-size:14px;">
                        <img align="center" style="max-width: 50%; max-height: 300px; display: block;" src="{3}" >
                    </td>
                </tr>
                <tr align="center" style="margin-bottom: 15px">
                    <td align="center" style="font-family: sans-serif; font-size: 20px; padding-bottom: 15px">
                        You Created a Poll "Name My {0}"
                    </td>
                </tr>
                <tr>
                    <table class="btn btn-primary"  style=" width: 100%;">
                        <tbody>
                        <tr>
                            <td align="center" style="font-family: sans-serif; font-size: 14px; padding-bottom: 15px">
                                <table style="width: auto;">
                                    <tbody>
                                    <tr>
                                        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;"> <a href="{1}" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">View Poll</a> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </tr>
                <tr>
                    <td>
                        <table class="btn btn-danger" style=" width: 100%;">
                            <tbody>
                            <tr>
                                <td align="center" style="font-family: sans-serif; font-size: 14px; padding-bottom: 15px">
                                    <table style="width: auto;">
                                        <tbody>
                                        <tr>
                                            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #800000; border-radius: 5px; text-align: center;"> <a href="{2}" target="_blank" style="display: inline-block; color: #ffffff; background-color: #800000; border: solid 1px #800000; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #800000;">Delete Poll</a> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p align="left" style="font-family: sans-serif; font-size: 14px; margin-bottom: 15px; word-wrap: break-word; max-width: 1000px">Or, use this link to view and share your poll: {1} </p>
                        <p align="left" style="font-family: sans-serif; font-size: 14px; margin-bottom: 15px; word-break: break-all; max-width: 1000px">and use this link to delete your poll: {2} </p>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr style="margin-top: 20px; margin-bottom: 20px">
                    <td>Share this Poll:
                        <a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href={1}" style="margin-left:20px">Facebook</a>
                        <a href="https://www.reddit.com/submit?url={1}" style="margin-left:20px">Reddit</a>
                        <a href="https://plus.google.com/share?url={1}" style="margin-left:20px">Google+</a>
                        <a href="https://twitter.com/intent/tweet?url={1}" style="margin-left:20px">Twitter</a>
                        <a href="https://www.tumblr.com/widgets/share/tool?posttype=link&content={1}" style="margin-left:20px">Tumblr</a>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td>
                        <p align="left" style="font-family: sans-serif; font-size: 14px; margin-bottom: 15px;">Thanks for using NomNom, the best way to name your stuff.</p>
                        <p align="left" style="font-family: sans-serif; font-size: 14px; margin-bottom: 15px;">~ The NomNom Team</p>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <p style="font-family: sans-serif; font-size: 20px"> <a href="http://nomnom-online.appspot.com/">Home</a> - <a href="http://nomnom-online.appspot.com/create">Create New Poll</a> - <a href="http://nomnom-online.appspot.com/?order=hottest">Hottest Polls</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>