{% extends "template.html" %}

{% block container %}
    <img src="{{ url_for('static', filename='nomnom-logo.svg') }}" class="site-logo img-fluid mx-auto" alt="{{ APP_NAME }} Logo">
    <h5 class="logo-text">You dream it, the crowd will name it</h5>

    {% if polls|length > 0 %}
        <ul class="nav nav-tabs" style="margin-bottom: 20px">
            <li class="nav-item">
                <a class="nav-link{% if order == "newest" %} active{% endif %}" href="?order=newest{% if tag %}&tag={{ tag }}{% endif %}{% if search_term %}&q={{ search_term }}{% endif %}">
                    <i class="fa fa-hourglass"></i> Newest
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if order == "hottest" %} active{% endif %}" href="?order=hottest{% if tag %}&tag={{ tag }}{% endif %}{% if search_term %}&q={{ search_term }}{% endif %}">
                    <i class="fa fa-fire"></i> Hottest
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if order == "easiest" %} active{% endif %}" href="?order=easiest{% if tag %}&tag={{ tag }}{% endif %}{% if search_term %}&q={{ search_term }}{% endif %}">
                    <i class="fa fa-thumbs-up"></i> Easiest
                </a>
            </li>
        </ul>
    {% endif %}

    <div class="row">
        {% if polls|length > 0 %}
            <div class="container">
                <div class="masonry" id="poll-list">
                    {% for p in polls %}
                        <div class="item">
                            <div class="card">
                                {% if p.image_url is not none and p.image_url != "" %}
                                    <img class="img img-responsive full-width" src="{{ p.image_url }}">
                                {% endif %}
                                <div class="card-body">
                                    <div class="container">
                                        <button class="poll-flag float-right" data-vote="poll-flag" data-poll-id = "{{ p.get_id() }}">
                                            <i class="fa fa-flag {% if p.flagged_users[cookie] == 1 %}flag-active{% endif %}" title="Flag as Inappropriate"></i>
                                        </button>
                                        <h6 class="card-text">Name my</h6>
                                        <h1 class="card-title">{{ p.title }}</h1>
                                        <p class="card-text">{{ p.description }}</p>
                                    </div>
                                </div>
                                {% if p.get_responses(3)|length > 0 %}
                                    <ul class="list-group list-group-flush list-group-striped">
                                        {% for r in p.get_responses(3) %}
                                            <li class="list-group-item">
                                                <i class="fa fa-trophy"></i>
                                                <span class="score" style="margin-right: 20px;">{{ r.upv - r.dnv }}</span>
                                                {{ r.response_str }}
                                                <div class="pull-right">
                                                    <span class="up-score">
                                                        <button class="vote" data-vote="resp-up" data-resp-id="{{ r.get_id() }}" data-poll-id="{{ p.get_id() }}">
                                                            <i class="fa fa-arrow-up {% if r.voted_users[cookie] == 1 %}upvote{% endif %}" title="Up Vote"></i>
                                                        </button>
                                                        <span style="margin-right: 5px;">{{ r.upv }}</span>
                                                    </span>
                                                    <span class="down-score">
                                                        <button class="vote" data-vote="resp-down" data-resp-id="{{ r.get_id() }}" data-poll-id="{{ p.get_id() }}">
                                                            <i class="fa fa-arrow-down {% if r.voted_users[cookie] == -1 %}downvote{% endif %}" title="Down Vote"></i>
                                                        </button>
                                                        <span style="margin-right: 5px;">{{ r.dnv }}</span>
                                                    </span>
                                                    <span class="flag-score">
                                                        <button class="vote" data-vote="resp-flag" data-resp-id="{{ r.get_id() }}" data-poll-id="{{ p.get_id() }}">
                                                            <i class="fa fa-flag {% if r.flagged_users[cookie] == 1 %}flag-active{% endif %}" title="Flag as Inappropriate"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class="card-body">
                                    <a href="/poll/{{ p.get_id() }}" class="btn btn-primary">Join in!</a>
                                    {% if p.tag == 'OTHER' %}
                                        <h5 class="card-text float-right" id="tag"> <i class="fa fa-question-circle"></i> {{ p.tag }}</h5>
                                    {% elif p.tag == 'PERSON' %}
                                        <h5 class="card-text float-right" id="tag"> <i class="fa fa-user"></i> {{ p.tag }}</h5>
                                    {% elif p.tag == 'PLACE' %}
                                        <h5 class="card-text float-right" id="tag"> <i class="fa fa-map-marker"></i> {{ p.tag }}</h5>
                                    {% elif p.tag == 'ORGANIZATION' %}
                                        <h5 class="card-text float-right" id="tag"> <i class="fa fa-building"></i> {{ p.tag }}</h5>
                                    {% elif p.tag == 'EVENT' %}
                                        <h5 class="card-text float-right" id="tag"> <i class="fa fa-calendar"></i> {{ p.tag }}</h5>
                                    {% elif p.tag == 'WORK OF ART' %}
                                        <h5 class="card-text float-right" id="tag"> <i class="fa fa-picture-o"></i> {{ p.tag }}</h5>
                                    {% elif p.tag == 'CONSUMER GOOD' %}
                                        <h5 class="card-text float-right" id="tag"> <i class="fa fa-beer"></i> {{ p.tag }}</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="container text-center">
                <h2>Oh no, there are no polls at the moment.</h2>
                <h4>Why don't you <a href="/create">create one</a>?</h4>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
