{% extends "template.html" %}

{% block container %}
    <img src="{{ url_for('static', filename='nomnom-logo.svg') }}" class="site-logo img-fluid mx-auto" alt="{{ APP_NAME }} Logo">

    {% if polls|length > 0 %}
        <ul class="nav nav-tabs" style="margin-bottom: 20px">
            <li class="nav-item">
                <a class="nav-link{% if order == "newest" %} active{% endif %}" href="?order=newest">
                    <i class="fa fa-hourglass"></i> Newest
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if order == "hottest" %} active{% endif %}" href="?order=hottest">
                    <i class="fa fa-fire"></i> Hottest
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if order == "easiest" %} active{% endif %}" href="?order=easiest">
                    <i class="fa fa-thumbs-up"></i> Easiest
                </a>
            </li>
        </ul>
    {% endif %}

    <div class="row">
        {% if polls|length > 0 %}
            {% for p in polls %}
                <div class="container" id="poll-list">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Name my {{ p.title }}</h4>
                            <p class="card-text">{{ p.description }}</p>
                        </div>
                        {% if p.get_responses(3)|length > 0 %}
                            <ul class="list-group list-group-flush list-group-striped">
                                {% for r in p.get_responses(3) %}
                                    <li class="list-group-item">
                                        <i class="fa fa-trophy"></i>
                                        <span class="score" style="margin-right: 20px;">{{ r.upv - r.dnv }}</span>
                                        {{ r.response_str }}
                                        <div class="pull-right">
                                            <span class="up-score">
                                                <a href="#" class="vote" data-vote="up" data-resp-id="{{ r.get_id() }}" data-poll-id="{{ p.get_id() }}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <span style="margin-right: 10px;">{{ r.upv }}</span>
                                            </span>
                                            <span class="down-score">
                                                <a href="#" class="vote" data-vote="down" data-resp-id="{{ r.get_id() }}" data-poll-id="{{ p.get_id() }}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                                <span>{{ r.dnv }}</span>
                                            </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="card-body">
                                <a href="/poll/{{ p.get_id() }}" class="btn btn-outline-primary">See more and respond</a>
                            </div>
                        {% else %}
                            <div class="card-body">
                                <a href="/poll/{{ p.get_id() }}" class="btn btn-outline-primary">Be the first to respond</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="container text-center">
                <h2>Oh no, there are no polls at the moment.</h2>
                <h4>Why don't you <a href="/create">create one</a>?</h4>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block script %}
    <script>
        // Update score and return results on .vote event
        $('.vote').click(function() {
            element = $(this); // Element event handler bound to

            $.ajax({
                url: '/poll/' + $(this).data('poll-id')+'/vote/' + $(this).data('vote'),
                data: {resp_id: $(this).data('resp-id')},
                type: 'POST',
                success: function(response) {
                    // Update total score
                    element.parent().parent().parent().find('.score').html(response['score']);
                    // Update up-vote and down-vote scores
                    element.parent().parent().find('.up-score span').html(response['up']);
                    element.parent().parent().find('.down-score span').html(response['down']);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}