{% extends "template.html" %}

{% block container %}
    <h1 class="text-center">Name my {{ poll.title }}</h1>

    {% if delete is defined and delete %}
        {% include "delete_poll.html" %}
    {% endif %}

    <div class="card">
        {% if poll.image_url is not none %}
            <img class="card-img-top" src="{{ poll.image_url }}">
        {% endif %}
        <div class="card-body">
            {{ poll.description }}
        </div>
    </div>

    <div class="card share-buttons">
        <div class="card-body">
            <span id="share" data-toggle="popover" title="Sharing Link" data-content="{{ request.base_url }}" class="share fa fa-share-alt-square"></span>
            <a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href={{ url_enc(request.base_url) }}" class="social-btn" role="button">
                <span class="fa fa-facebook-square facebook"></span>
            </a>
            <a href="https://www.reddit.com/submit?url={{ url_enc(request.base_url) }}" class="social-btn" role="button">
                <span class="fa fa-reddit-square reddit"></span>
            </a>
            <a href="https://plus.google.com/share?url={{ url_enc(request.base_url) }}" class="social-btn" role="button">
                <span class="fa fa-google-plus-square google-plus"></span>
            </a>
            <a href="https://twitter.com/intent/tweet?url={{ url_enc(request.base_url) }}" class="social-btn" role="button">
                <span class="fa fa-twitter-square twitter"></span>
            </a>
            <a href="https://www.tumblr.com/widgets/share/tool?posttype=link&content={{ url_enc(request.base_url) }}" class="social-btn" role="button">
                <span class="fa fa-tumblr-square tumblr"></span>
            </a>
            <a href="mailto:?body={{ url_enc(request.base_url) }}" class="social-btn" role="button">
                <span class="fa fa-envelope-square share"></span>
            </a>
        </div>
    </div>


    {% if responses|length > 0 %}
        <table class="table table-striped table-inverse">
            {% for r in responses %}
                <tr>
                    <td class="text-center" style="width: 10%;"><i class="fa fa-trophy"></i> <span class="score">{{ r.upv - r.dnv }}</span></td>
                    <td>{{ r.response_str }}</td>
                    <td class="text-center up-score" style="width: 10%;">
                        <button class="vote" data-vote="up" data-resp-id="{{ r.get_id() }}" data-poll-id="{{ poll.get_id() }}">
                            <i class="fa fa-arrow-up"></i>
                        </button>
                        <span>{{ r.upv }}</span>
                    </td>
                    <td class="text-center down-score" style="width: 10%;">
                        <button class="vote" data-vote="down" data-resp-id="{{ r.get_id() }}" data-poll-id="{{ poll.get_id() }}">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                        <span>{{ r.dnv }}</span>
                    </td>
                    <td class="text-center flag-score" style="width: 10%;">
                        <button class="vote" data-vote="flag" data-resp-id="{{ r.get_id() }}" data-poll-id="{{ poll.get_id() }}">
                            <i class="fa fa-flag"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="card" style="margin-bottom: 20px;">
            <div class="card-body">
                <h3 class="text-center">There are no responses yet, why don't you make one?</h3>
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            <form action="/poll/{{ poll.get_id() }}" method="post" name="response" class="text-centers">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label>Add a response:</label>
                    {% if form.response.errors %}
                        {{ form.response(class='form-control is-invalid') }}
                    {% else %}
                        {{ form.response(class='form-control') }}
                    {% endif %}
                    {% for error in form.response.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% if delete is defined and delete %}
        <script>
            $('#delete-modal').modal('show')
        </script>
    {% endif %}
{% endblock %}
