<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='social.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% if title is defined %}
            <title>{{ title }} - {{ APP_NAME }}</title>
        {% else %}
            <title>{{ APP_NAME }}</title>
        {% endif %}
    </head>
    <body onload="loadSelect()">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/create">Create a Poll</a>
                        </li>
                        <li class="nav-item">
                            <div>
                                <select class="custom-select" id="dropdown-tags">
                                  <option value="PEOPLE">People</option>
                                  <option value="LOCATION">Locations</option>
                                  <option value="ORGANISATION">Organisations</option>
                                  <option value="EVENT">Events</option>
                                  <option value="WORK_OF_ART">Works of Art</option>
                                  <option value="CONSUMER_GOOD">Consumer Goods</option>
                                  <option value="">None</option>
                                  <option value="OTHER">Other</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {%  with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="main-content">
                {% block container %}{% endblock %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script>
            function loadSelect() {
                // get tag from url if there is a tag set
                var url = window.location.href,
                tag = url.substring(url.indexOf("tag=")+4),
                dropdown = document.getElementById('dropdown-tags');
                if(url.indexOf("tag=")>-1){
                    // If there is another param after, remove it
                    if(tag.indexOf('&')>-1){
                        tag = tag.substring(0,tag.indexOf("&"));
                    }
                    dropdown.value = tag;
                } else {
                    dropdown.value = "";
                }
            }
            $(function() {
              $('.custom-select').on('change', function(){
                var selected = $(this).find("option:selected").val();
                // Redirect to show polls of that tag if there is a tag
                if (selected != "") {
                    window.location.href = "/?tag=" + selected;
                } else {
                    window.location.href = "/";
                }
              });
            });
        </script>
    </body>
</html>
