.facebook{
    background-color: #3b5998;
}

.twitter{
    background-color: #1da1f2;
}

.reddit{
    background-color: #FF4500;
}
.google-plus{
    background-color: #db4437;
}
.tumblr{
    background-color: #35465c
}
.pintress{
    background-color: #bd081c
}