/* Custom CSS File */

body > div.container {
    padding-top: 2rem;
}

#poll-list .card {
    margin-bottom: 20px;
}

.site-logo {
    display: block;
    max-height: 200px!important;
    margin-bottom: 20px;
}

/* Set table striping colour */
.list-group-striped li:nth-child(odd),
.table-striped tbody tr:nth-of-type(odd){
    background-color: #FFFFF0;
}

/* Poll list on homepage */
#poll-list .list-group-item {
    border: 1px solid #dddddd;
    margin: 0 20px;
}

/* Make containers in cards on the homepage have no padding */
#poll-list .card-body > .container {
    padding: 0;
}

.share-popover h3 {
    padding: 0;
}

.share-popover .pop-header {
    width: 100%;
    display: block;
}

/* Brand Colours */

.bg-dark {
    background-color: #800000!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

a {
    color: #800000;
}

a:hover {
    color: #C00000;
}

.btn-primary {
    background-color: #800000;
    border-color: #800000;
}

.btn-primary:hover {
    background-color: #C00000;
    border-color: #C00000;
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: #C00000;
    border-color: #C00000;
    box-shadow: none;
}

.btn-outline-primary {
    color: #800000;
    border-color: #800000;
}

.btn-outline-primary:hover {
    background-color: #800000;
    border-color: #800000;
}

.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    background-color: #800000;
    border-color: #800000;
    box-shadow: none;
}


/* Font Awesome Icon Hovers */

.fa-arrow-up:hover,
.fa-arrow-up:focus,
.upvote {
    color: #00ff00;
}

.fa-arrow-down:hover,
.fa-arrow-down:focus,
.downvote {
    color: #ff0000;
}

button.vote {
    border: none;
    background: transparent;
    color: #800000;
    padding: 0;
}
