/* Custom CSS File */

body > div.container {
    padding-top: 5rem;
}

/* Main home poll list page */

#poll-list .card {
    width:27em;
    margin: 0.6em;
}

@media (max-width: 900px) {
    #poll-list .card {
        width:600px;
    }
}

@media (max-width: 620px) {
    #poll-list .card {
    width:400px;
    margin: 0.4em;
    }
}

@media (max-width: 450px) {
    #poll-list .card {
    width:350px;
    margin: 0.2em;
    }
}

@media (max-width: 350px) {
    #poll-list .card {
    width:300px;
    margin: 0.1em;
    }
}

.container {
    max-width: 1600px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    width: 100%;
    z-index: 2;
}

img {
  display: block;
  width: 100%;
  height: auto;
    max-height: 35em;
}

.site-logo {
    display: block;
    max-height: 200px!important;
}

.logo-text{
    text-align: center;
    margin-bottom: 20px;
}

/* Masonry grid */
.grid {
    margin-left: auto;
    margin-right: auto;
}

/* Set table striping colour */
.list-group-striped li:nth-child(odd),
.table-striped tbody tr:nth-of-type(odd){
    background-color: #FFFFF0;
}

/* Poll list on homepage */
#poll-list .list-group-item {
    border: 1px solid #dddddd;
    margin: 0 20px;
}

/* Make containers in cards on the homepage have no padding */
#poll-list .card-body > .container {
    padding: 0;
}

.share-popover h3 {
    padding: 0;
}

.share-popover .pop-header {
    width: 100%;
    display: block;
}

/* Fix bizarre Bootstrap checkbox alignment bug */
.form-check-input {
    margin-left: 0;
}

/* Alignment of icons in category dropdown in navbar */
.category-list span {
    display: inline-block;
    min-width: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.category-list span i {
    text-align: center;
}

.category-list a {
    padding-left: 15px;
}

/* Brand Colours */

.bg-dark {
    background-color: #800000!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

a {
    color: #800000;
}

a:hover {
    color: #C00000;
}

.btn-primary {
    background-color: #800000;
    border-color: #800000;
}

.btn-primary:hover {
    background-color: #C00000;
    border-color: #C00000;
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: #C00000;
    border-color: #C00000;
    box-shadow: none;
}

.btn-outline-primary {
    color: #800000;
    border-color: #800000;
}

.btn-outline-primary:hover {
    background-color: #800000;
    border-color: #800000;
}

.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    background-color: #800000;
    border-color: #800000;
    box-shadow: none;
}

.btn-outline-secondary {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-secondary:hover {
    background-color: rgba(255,255,255,.75);
    border-color: rgba(255,255,255,.75);
}

.btn-outline-secondary:not([disabled]):not(.disabled).active,
.btn-outline-secondary:not([disabled]):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
    background-color: rgba(255,255,255,.75);
    border-color: rgba(255,255,255,.75);
    box-shadow: none;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #800000;
}

/* Font Awesome Icon Hovers */

.fa-arrow-up:hover,
.fa-arrow-up:focus,
.upvote {
    color: #00ff00;
}

.fa-arrow-down:hover,
.fa-arrow-down:focus,
.downvote {
    color: #ff0000;
}

.fa-flag:hover,
.fa-flag:focus {
    color: #353535;
}


/* the upvote, downvote and flag buttons for responses */
button.vote {
    border: none;
    background: transparent;
    color: #800000;
    padding: 0;
}

/* the flag button for polls */
button.poll-flag {
    float: right;
    border: none;
    background: transparent;
    color: #800000;
    padding: 0;
}

/* Flagged Poll */
.flag-active {
    color: #ff0000;
}

/* Tag Text */
#tag {
    line-height: 2.5rem;
}

/* Tag Icon Colours */

#tag .fa-question-circle {
    color: #3b5998;
}

#tag .fa-user {
    color: #000000;
}

#tag .fa-map-marker {
    color: #ff0000;
}

#tag .fa-building {
    color: #b2a9a9;
}

#tag .fa-calendar {
    color: #3C5798;
}

#tag .fa-picture-o {
    color: #008000;
}

#tag .fa-beer {
    color: #edbe40
}

.text-centers,
#narrow-content {
    max-width:900px;
    margin: 0 auto;
}